$gradiente-default: linear-gradient(#ECE9E6, #FFF);
$white: #FFF;
$gold-default: #CAAD6B;
$gold-default-hover: #A1791F;
$black-default: #373737;
$margin-timeline-post-name: -7vw;

body {background: $gradiente-default;height: 100%;margin: 0;background-repeat: no-repeat;background-attachment: fixed;}
.custom-field{background: transparent;border: 0;border-bottom: 1px solid #CCC;border-radius: 0; &:focus{background: transparent; outline: 0;}}
.green-navbar-toggler{backgroud: #F00;}
.container-posts{background: $white; height: auto;}
a:hover{color: $gold-default-hover; text-decoration: none;}
div.timeline-post-name > a{margin-left: $margin-timeline-post-name;}
div.timeline-post{background: $white;}



.material-icons.md-18 { font-size: 18px; vertical-align: top;}
.material-icons.md-20 { font-size: 20px; vertical-align: top;}
.material-icons.md-24 { font-size: 24px; vertical-align: top;}
.material-icons.md-36 { font-size: 36px; vertical-align: top;}
.material-icons.md-48 { font-size: 48px; vertical-align: top;}
.gold-default{color: $gold-default;&:hover{color: $gold-default-hover; text-decoration: none !important;}}
.black-default{color: $black-default;}
.custom-placeholder::-webkit-input-placeholder {font-style: italic;}
.custom-field-font{color: #018786;}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn-input {
  border: 2px solid #CAAD6B;
  color: #CAAD6B;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
